.movie-detail {
  background: transparent;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.movie-detail img {
    max-width: 100%;
    height: auto;
    border-radius: 8px; 
  }

.back-button {
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  

.back-button:hover {
    background-color: lightslategray
  }