.movie-detail {
  display: flex;
  align-items: flex-start;
  padding: 40px;
  min-height: calc(100vh - 70px);
  position: relative;
}

.movie-detail .left-side {
  flex: 1;
  padding-right: 20px;
}

.movie-detail .right-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 2;
  text-shadow: 2px 2px 4px rgba(0,0,0,1);
}

.movie-detail .right-side h3 {
  margin-top: 0px;
  margin-bottom: -15px;
  font-size: 48px;
}

.movie-detail .right-side h2 {
  font-size: 30px;
  font-style: italic;
  margin-bottom: 10px;
}

.movie-detail .right-side h1 {
  font-size: 26px;
  margin-bottom: 10px;
}

.movie-detail .right-side p {
  font-size: 24px;
  margin-bottom: 10px;
}

.custom-font {
  font-family: 'elMariachi', sans-serif;
}

.tomatillo-icon {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.synopsis-container {
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 20px;
}

.movie-detail .poster {
  max-width: 70%;
  height: auto;
  border-radius: 8px;
}

.poster {
  box-shadow: 5px 10px 20px rgba(0,0,0,.75);
}

.movie-detail img {
  max-width: 100%;
  border-radius: 8px;
}

.movie-detail .back-button {
  position: absolute;
  top: -130px;
  left: 10px;
  z-index: 10;
  padding: 10px 20px;
  font-size: 18px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-button:hover {
  background-color: rgba(65, 158, 79, 0.427);
}

.show-selected {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
}

.show-selected::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(29, 92, 38, 0.815);
  opacity: 0.5;
  z-index: 1;
}

.show-selected > * {
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 1535px) {
  .movie-detail .right-side h3 {
    font-size: 36px;
  }

  .movie-detail .right-side h2 {
    font-size: 28px;
  }

  .movie-detail .right-side h1,
  .movie-detail .right-side p {
    font-size: 22px;
  }
}

@media screen and (max-width: 1023px) {
  .movie-detail {
    flex-direction: column;
  }

  .movie-detail .left-side,
  .movie-detail .right-side {
    flex: none;
    width: 100%;
  }

  .movie-detail .right-side h3 {
    font-size: 32px;
  }

  .movie-detail .right-side h2 {
    font-size: 24px;
  }

  .movie-detail .right-side h1,
  .movie-detail .right-side p {
    font-size: 20px;
  }

  .movie-detail .right-side h3,
  .movie-detail .right-side h2,
  .movie-detail .right-side p {
    text-align: center;
  }

  .movie-detail .right-side {
    text-align: center;
    align-items: center;
  }

  .back-button {
    font-size: 35px;
    padding: 10px 20px;
    top: -30px;
    left: 10px;
  }
}

@media screen and (max-width: 767px) {
  .movie-detail .right-side h3 {
    font-size: 28px;
  }

  .movie-detail .right-side h2 {
    font-size: 22px;
  }

  .movie-detail .right-side h1,
  .movie-detail .right-side p {
    font-size: 18px;
  }

  .back-button {
    font-size: 20px;
    padding: 15px 25px;
    top: 50px;
    left: 10px;
  }
}

@media screen and (max-width: 576px) {
  .movie-detail {
    padding: 20px;
  }

  .back-button {
    font-size: 20px;
    padding: 15px 25px;
    top: 20px;
    left: 10px;
  }
}