.card {
  box-sizing: border-box;
  width: 100%;
  min-height: 725px;
  overflow: auto;
}

.card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  z-index: 1;
}

.movie-poster {
  width: 100%;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;

}
