.card {
  box-sizing: border-box;
  border: none;
  overflow: visible; /* Allow the poster to overlap other elements when enlarged */
  box-shadow: none;
  cursor: pointer;
  transition: transform 0.3s ease;
  position: relative; /* Needed to control the z-index */
}

.movie-poster {
  width: 100%;
  box-shadow: 10px 10px 5px rgba(8, 72, 17, 0.758);;
  transition: transform 0.3s ease;
}

.card:hover .movie-poster {
  transform: scale(1.03);
  z-index: 10; 
  animation: wiggleEnlarge 0.5s ease-in-out forwards;
}

@keyframes wiggleEnlarge {
  0%, 100% { transform: scale(1.03) rotate(0deg); }
  25% { transform: scale(1.03) rotate(-2deg); }
  50% { transform: scale(1.03) rotate(2deg); } 
  75% { transform: scale(1.03) rotate(-2deg); }
}
