.movies-container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.movie-card-link {
  color: inherit;
  text-decoration: inherit;
}

.card:hover {
  background-color: transparent; 
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.card {
  transition: transform 0.3s ease;
}

.movie-card-link {
  color: inherit;
  text-decoration: inherit;
}

h2 {
  color: white;
}